<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bibliography Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<h3>Bibliography Management System</h3>

<table class="table" border ="1" width="100%" cellpadding="5">
    <thead>
    <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Year</th>
        <th>Journal</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="ent : ${entries}">
            <td th:text="${ent.author}"></td>
            <td th:text="${ent.title}" ></td>
            <td th:text="${ent.year}"></td>
            <td th:text="${ent.journal}"></td>
            <td> <a th:href="@{/edit(author=${ent.author},title=${ent.title},year=${ent.year},journal=${ent.journal},id=${ent.id})}">Edit</a></td>
            <td> <a th:href="@{/remove(id=${ent.id})}">Delete</a></td>
        </tr>
    </tbody>
</table>

<table width="100%">
    <td align="left">
        <input type="button" onclick="location.href='/add.html'" value="Add an Entry"/>
    </td>
    <td align="right">
        <form action="/search" method="get" modelAttribute="query">
            <p><input type="text" th:field="${query.q}"/>  <input type="submit" value="Search"/></p>
        </form>
    </td>
</table>

<h4>Upload BibTeX File</h4>
<form action="fileImport" method="post" enctype="multipart/form-data">
    <input type="file" name="file"/> <input type="submit" value="Upload File"/>
</form>

</body>
</html>